@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>Transient Services:</h3>
    <p>TransientService1Id: @ViewBag.TransientService1Id</p>
    <p>TransientService2Id: @ViewBag.TransientService2Id</p>

    <h3>Scoped Services:</h3>
    <p>ScopedService1Id: @ViewBag.ScopedService1Id</p>
    <p>ScopedService2Id: @ViewBag.ScopedService2Id</p>

    <h3>Singleton Services:</h3>
    <p>SingletonService1Id: @ViewBag.SingletonService1Id</p>
    <p>SingletonService2Id: @ViewBag.SingletonService2Id</p>
    
   @* <h3>Sample Services:</h3>
    <p>SimpleServiceId: @ViewBag.SimpleServiceId</p>
    <p>SimpleServiceChild1Id: @ViewBag.SimpleServiceChild1Id</p>
    <p>SimpleServiceChild2Id: @ViewBag.SimpleServiceChild2Id</p>*@
</div>
